<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
</head>
<body>
    <div th:fragment="footer">
        <div class="footer">
            <!--<div class="float-right">
                10GB of <strong>250GB</strong> Free.
            </div>-->
            <script th:src="@{/js/dates.js}" src="../../js/dates.js"> </script>
            <!--Parsley.js-->
            <script th:src="@{/Parsley.js-2.8.0/dist/parsley.min.js}" src="../../Parsley.js-2.8.0/dist/parsley.min.js"></script>
            <script th:src="@{/Parsley.js-2.8.0/dist/i18n/es.js}" src="../../Parsley.js-2.8.0/dist/i18n/es.js"></script>
            <div>
                <strong> &copy; Copyright</strong> Technology Consulting Solutions - TCS 2020
            </div>
        </div>
    </div>
</body>
</html>