.form-login {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
}

.tittle-form {
    padding-bottom: 20px;
}

.ibox-content-forgotPassword {
    background-color: #ffffff;
    color: inherit;
    padding: 20px 30px 70px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    border-radius: 5px;
}

.forgotPasswordBox {
    max-width: 490px;
    margin: 0 auto;
    padding: 130px 15px 15px 15px;
}

.registerNewUser-right {
    width: 40%;
    float: right;
}

.registerNewUser-left {
    width: 40%;
    float: left;
}

.form-register {
    padding: 30px;
    padding-bottom: 70px;
    background-color: white;
    border-radius: 5px;
}

.logoSize {
    margin-bottom: 53px;
    margin-top: 42px;
    width: 300px;
}

input.parsley-error {
    border: 1px solid red;
}

.parsley-errors-list {
    list-style: none;
    color: red;
}

.navbar-header-welcome {
    margin-left: 25px;
}

.label-date {
    color: #0f7b9f;
}

.centerInputWidth100 {
    text-align: center;
}

.ibox-list {
    background-color: #ffffff;
    border-bottom: solid;
    border-color: #e7eaec;
    border-image: none;
    border-style: none solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 90px 8px 15px;
    min-height: 48px;
    position: relative;
    clear: both;
}

.centerSelectInputWidth100 {
    text-align-last: center;
}

.radiusModal {
    background-color: #F5F5F5;
    border-radius: 29px;
}

.headerCenterWithImageModal {
    text-align: left;
    width: 19pc;
}