<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerDashboard :: header-css"/>
</head>
<body>
<div id="wrapper">
    <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/headerDashboard :: header-body"/>
        <div class="row" >
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Editar Actividad</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-register">
                            <form class="m-t" role="form" data-parsley-validate="true" th:action="@{/saveEditActivity}" th:object="${activityEntity}" method="post">
                                <div class="form-group" style="display: none">
                                    <input type="text" readonly class="form-control centerInputWidth100" th:object="${projectEntity}" th:name="projectEntity" th:value="${projectEntity.idProject}">
                                </div>
                                <div class="form-group" hidden="hidden">
                                    <input type="text" id="idActivity" style="text-align: center" readonly="true" class="form-control" th:value="${activityEntity.idActivity}" required="false" name="idActivity">
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Nombre de la Actividad</label>
                                    <input type="text" id="activityName" readonly="true" style="text-align: center"  class="form-control" th:value="${activityEntity.activityName}" required="false" name="activityName">
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Proyecto</label>
                                    <input type="text" class="form-control" style="text-align: center"  th:value="${activityEntity.projectEntity.projectName}" readonly="true" required="true" name="projectName">
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Puntos</label>
                                    <!--<input type="text" class="form-control" style="text-align: center"  th:value="${activityEntity.activityPointsEntity.points}" required="true" name="activityPoints">-->
                                    <select  class="form-control centerSelectInputWidth100"  th:object="${activityEntity.activityPointsEntity}" th:name="activityPointsEntity" required="true" >
                                        <option value="0">Seleccione el Puntaje</option>
                                        <option th:each="point : ${activityPointsEntities}" th:selected="${point.idActivityPoints == activityEntity.activityPointsEntity.idActivityPoints}"
                                                th:text=" ${point.points}"
                                                th:value="${point.idActivityPoints}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Estado</label>
                                    <!--<input type="text" class="form-control" style="text-align: center"  th:value="${activityEntity.activityStatusEntity.description}" required="true" name="activityStatus">-->
                                    <select  class="form-control centerSelectInputWidth100"  th:object="${activityEntity.activityStatusEntity}" th:name="activityStatusEntity" required="true" >
                                        <option value="0">Seleccione el Puntaje</option>
                                        <option th:each="status : ${activityStatusEntities}" th:selected="${status.idActivityStatus == activityEntity.activityStatusEntity.idActivityStatus}"
                                                th:text=" ${status.description}"
                                                th:value="${status.idActivityStatus}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Fecha de Inicio</label>
                                    <!--<input type="date" class="form-control"  th:text="${#dates.format(projectEntity.startDate.getTime(), 'dd/MM/yyyy')}" required="true" name="startDate">-->
                                    <p/>
                                    <input type="text"
                                           data-parsley-required="true"
                                           style="cursor: pointer;text-align: center; width: 100%; background-color: white; font-size: 0.9rem; font-family: inherit"
                                           class="form-control col-xs-1 fa fa-calendar-o form-control-feedback left"
                                           minlength="10"
                                           maxlength="10"
                                           th:readonly="true"
                                           th:name="startDate"
                                           id="startDate"
                                           onclick="dateInput('startDate')"
                                           th:value="${#dates.format(activityEntity.startDate.getTime(), 'dd/MM/yyyy')}"
                                    />
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Fecha de Culminacion</label>
                                    <p/>
                                    <!--<input type="date" class="form-control"  th:value="${#dates.format(projectEntity.endingDate.getTime(), 'dd/MM/yyyy')}" required="true" name="endingDate">-->
                                    <input type="text"
                                           data-parsley-required="true"
                                           style="cursor: pointer;text-align: center; width: 100%; background-color: white; font-size: 0.9rem; font-family: inherit"
                                           class="form-control col-xs-1 fa fa-calendar-o form-control-feedback left"
                                           minlength="10"
                                           maxlength="10"
                                           th:readonly="true"
                                           th:name="endingDate"
                                           id="endingDate"
                                           onclick="dateInputEnd('startDate','endingDate')"
                                           th:value="${#dates.format(activityEntity.endingDate.getTime(), 'dd/MM/yyyy')}"
                                    />

                                </div>
                                <div class="form-group">
                                    <div id="divResponsable">
                                        <label class = "label-date">Responsable</label>
                                        <div id="selectResponsable">
                                            <select  class="form-control" id="responsable" style="width: 95%; float: left; text-align-last:center" th:object="${activityEntity.userEntitySet}"  th:name="responsable" required="true" >
                                                <option value="0">Responsable</option>
                                                <option th:each="userList : ${activityEntity.userEntitySet}"
                                                        th:text=" ${userList.fullName}"
                                                        th:value="${userList.idUser}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <span class="fa fa-trash fa-2x" id="deleteIconRecursoInActivity" style="cursor: pointer; float: left; margin: 5px;"></span>
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Responsable a Agregar</label>
                                    <select id="userEntity"  class="form-control" style="text-align-last:center"  th:object="${userEntityList}" th:name="userEntity" required="false" >
                                        <option value="0">Seleccione el Responsable a agregar</option>
                                        <option th:each="userList : ${userEntityList}"
                                                th:text=" ${userList.fullName}"
                                                th:value="${userList.idUser}">
                                        </option>
                                    </select>
                                </div>
                                <a th:href="@{/projects}" class="btn btn-primary block registerNewUser-left m-b" style="margin-top: 20px;">Cancelar</a>
                                <button type="submit" class="btn btn-primary block registerNewUser-right m-b" style="margin-top: 20px;">Guardar</button>
                            </form>
                        </div>
                        <div class="modal fade" style="margin-top: 50px;" id="modalDeleteRecursoAcitivity">
                            <div class="modal-dialog modal-center">
                                <!-- Modal content-->
                                <div class="modal-content radiusModal">
                                    <div class="modal-header text-center">
                                        <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                                        <h3 class="modal-title headerCenterWithImageModal"
                                            th:utext="#{mensaje.header.estimado.usuario}"/>
                                    </div>
                                    <div class="modal-body x_content">
                                        <div style="display: inline">
                                            <div class="col-sm-1"></div>
                                            <p  style="text-align: center" th:utext="#{mensaje.delete.recurso.actividad}"/>
                                            <div class="col-sm-1"></div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footerDashboard :: footer"/>
    </div>
</div>

<script>
    $('#deleteIconRecursoInActivity').on('click', function () {
        debugger;
        var user = $('#responsable option:selected').val();
        var idActivity = $('#idActivity').val();
        var activityName = $('#activityName').val();
        $("#responsable option[value=0]").attr("selected", true);
        var url = '/deleteUserOfActivity';
        var data = {
            idActivity : idActivity,
            user : user
        }
        $.ajax({
            url : url,
            contentType: "application/json",
            type : 'post',
            dataType: 'json',
            data : JSON.stringify(data),
            success : function (response) {
                if (response.status === "SUCCESS") {
                    $('#modalDeleteRecursoAcitivity').modal("show");
                    var responsable = document.getElementsByName("responsable")[0];
                    var userEntity = document.getElementsByName("userEntity")[0];
                    //Recursos en la actividad
                    $('#responsable option').hide();
                    for (value in response.data.userEntitySet1) {
                        var option = document.createElement("option");
                        option.text = response.data.userEntitySet1[value].fullName;
                        option.value = response.data.userEntitySet1[value].idUser;
                        responsable.add(option);

                    }
                    //Recursos que no estan en la actividad
                    $('#userEntity option').hide();
                    for (value in response.data.userEntityList1) {
                        var option = document.createElement("option");
                        option.text = response.data.userEntityList1[value].fullName;
                        option.value = response.data.userEntityList1[value].idUser
                        userEntity.add(option);
                    }
                }
                console.log('ss');
            },
            error : function () {
                console.log("ERROR");
            }
        });

    });
</script>

</body>
</html>