<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerDashboard :: header-css"/>
</head>
<body>
<div id="wrapper">
    <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/headerDashboard :: header-body"/>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Información de usuario</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-register">
                            <form class="m-t" role="form" data-parsley-validate="true" th:action="@{/saveEditUser}"
                                  th:object="${userEntity}" method="post">
                                <div class="form-group" hidden="hidden">
                                    <input type="text" id="idUser" style="text-align: center" readonly="true"
                                           class="form-control" th:value="${userEntity.idUser}" required="false"
                                           name="idUser">
                                </div>
                                <div class="form-group">
                                    <label class="label-date">Nombre del Consultor</label>
                                    <input type="text" id="idFullName" style="text-align: center"
                                           class="form-control" th:value="${userEntity.fullName}" required="true"
                                           name="fullName">

                                </div>

                                <input type="text" id="idUsername" readonly="true" style="display:none"
                                       class="form-control" th:value="${userEntity.username}" required="false"
                                       name="username">
                                <div class="form-group">
                                    <label class="label-date">Sexo</label>

                                    <select class="form-control" th:object="${genderEntityList}" id="idGender"
                                            style="width: 100%; float: left; text-align-last:center"
                                            th:name="genderEntity" required="true">
                                        <option value="">Selecciona</option>
                                        <option th:each="genderList : ${genderEntityList}"
                                                th:text=" ${genderList.description}"
                                                th:value="${genderList.idGender}"
                                                th:selected="${genderList.description == genderSelected}"
                                        >
                                        </option>
                                    </select>


                                </div>
                                <div class="form-group">
                                    <label class="label-date">Correo</label>
                                    <input type="text" class="form-control" style="text-align: center"
                                           th:value="${userEntity.email}" required="true" name="email">
                                </div>
                                <div class="form-group">
                                    <label class="label-date">Fecha de Nacimiento</label>
                                    <!--<input type="date" class="form-control"  th:text="${#dates.format(projectEntity.startDate.getTime(), 'dd/MM/yyyy')}" required="true" name="startDate">-->
                                    <p/>
                                    <input type="text"
                                           data-parsley-required="true"
                                           style="cursor: pointer;text-align: center; width: 100%; background-color:white; font-size: 0.9rem; font-family: inherit"
                                           class="form-control col-xs-1 fa fa-calendar-o form-control-feedback left"
                                           minlength="10"
                                           maxlength="10"
                                           th:name="birthday"
                                           onclick="dateInput('birthday')"
                                           id="birthday"
                                           th:value="${#dates.format(userEntity.birthday, 'dd/MM/yyyy')}"
                                    />
                                </div>
                                <div class="form-group">
                                    <label class="label-date">Rol a Asignar</label>

                                    <select class="form-control" th:object="${profileEntityList}" id="idAssing"
                                            style="width: 100%; float: left; text-align-last:center"
                                            th:name="profileEntity" required="true">
                                        <option value="">Selecciona</option>
                                        <option th:each="profileList : ${profileEntityList}"
                                                th:text=" ${profileList.description}"
                                                th:value="${profileList.idProfile}"
                                                th:selected="${profileList.description == profileSelected}"
                                        >
                                        </option>
                                    </select>


                                </div>

                                <div class="form-group">
                                    <label class="label-date">Status del Usuario</label>

                                    <select class="form-control" th:object="${userStatusEntityList}" id="idUserStatus"
                                            style="width: 100%; float: left; text-align-last:center"
                                            th:name="userStatusEntity" required="true">
                                        <option value="">Selecciona</option>
                                        <option th:each="userStatusList : ${userStatusEntityList}"
                                                th:text=" ${userStatusList.description}"
                                                th:value="${userStatusList.idUserStatus}"
                                                th:selected="${userStatusList.description == userStatusSelected}">

                                        </option>
                                    </select>
                                </div>

                                <a th:href="@{/projects}" class="btn btn-primary block registerNewUser-left m-b"
                                   style="margin-top: 20px;">Cancelar</a>
                                <button type="submit" class="btn btn-primary block registerNewUser-right m-b"
                                        style="margin-top: 20px;">Guardar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footerDashboard :: footer"/>
    </div>
</div>
</body>
</html>