<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerDashboard :: header-css"/>
</head>
<body>
<div id="wrapper">
    <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/headerDashboard :: header-body"/>
        <div class="row" >
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Editar Proyecto</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-register">
                            <form class="m-t" role="form" data-parsley-validate="true" th:action="@{/saveEditProject}" th:object="${projectEntity}" method="post">
                                <div class="form-group" hidden="hidden">
                                    <input type="text" id="idProject" style="text-align: center" readonly="true" class="form-control" th:value="${projectEntity.idProject}" required="false" name="idProject">
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Nombre del Proyecto</label>
                                    <input type="text" id="projectName" readonly="true" style="text-align: center"  class="form-control" th:value="${projectEntity.projectName}" required="false" name="projectName">
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Puntos Totales</label>
                                    <input type="text" class="form-control" style="text-align: center"  th:value="${projectEntity.totalActivities}" required="true" name="totalActivities">
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Puntos Terminados</label>
                                    <input type="text" class="form-control" style="text-align: center"  th:value="${projectEntity.finishedActivities}" required="true" name="finishedActivities">
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Fecha de Inicio</label>
                                    <!--<input type="date" class="form-control"  th:text="${#dates.format(projectEntity.startDate.getTime(), 'dd/MM/yyyy')}" required="true" name="startDate">-->
                                    <p/>
                                    <input type="text"
                                           data-parsley-required="true"
                                           style="cursor: pointer;text-align: center; width: 100%; background-color: white; font-size: 0.9rem; font-family: inherit"
                                           class="form-control col-xs-1 fa fa-calendar-o form-control-feedback left"
                                           minlength="10"
                                           maxlength="10"
                                           th:readonly="true"
                                           th:name="startDate"
                                           id="startDate"
                                           onclick="dateInput('startDate')"
                                           th:value="${#dates.format(projectEntity.startDate.getTime(), 'dd/MM/yyyy')}"
                                    />
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Fecha de Culminacion</label>
                                    <p/>
                                    <!--<input type="date" class="form-control"  th:value="${#dates.format(projectEntity.endingDate.getTime(), 'dd/MM/yyyy')}" required="true" name="endingDate">-->
                                    <input type="text"
                                           data-parsley-required="true"
                                           style="cursor: pointer;text-align: center; width: 100%; background-color: white; font-size: 0.9rem; font-family: inherit"
                                           class="form-control col-xs-1 fa fa-calendar-o form-control-feedback left"
                                           minlength="10"
                                           maxlength="10"
                                           th:readonly="true"
                                           th:name="endingDate"
                                           id="endingDate"
                                           onclick="dateInput('endingDate')"
                                           th:value="${#dates.format(projectEntity.endingDate.getTime(), 'dd/MM/yyyy')}"
                                    />

                                </div>
                                <div class="form-group">
                                    <div id="divLiderActual">
                                        <label class = "label-date">Lider Actual</label>
                                        <div id="selectLiderActual">
                                            <select  class="form-control" th:name="lideres" id="lideres" style="width: 95%; float: left; text-align-last:center" required="true" >
                                                <option value="0">Lideres asignados</option>
                                                <option th:each="userList : ${projectEntity.userEntitySet}" th:if="${userList.profileEntity.idProfile == 2} "
                                                        th:text=" ${userList.fullName}"
                                                        th:value="${userList.idUser}"
                                                >

                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <span class="fa fa-trash fa-2x" id="deleteIcon" style="cursor: pointer; float: left; margin: 5px;"></span>
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Lider a Agregar</label>
                                    <select id="liderAgregar" class="form-control" style="text-align-last:center"  th:object="${userEntityList}" th:name="userEntity" required="false" >
                                        <option value="0">Seleccione el Lider a agregar</option>
                                        <option th:each="userList : ${userEntityList}"
                                                th:text=" ${userList.fullName}"
                                                th:value="${userList.idUser}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div id="divRecursos">
                                        <label class = "label-date">Recursos</label>
                                        <div id="selectRecursos">
                                            <select  class="form-control" id="recursos" style="width: 95%; float: left; text-align-last:center"  th:name="recursos" required="true" >
                                                <option value="0">Recursos Asignados</option>
                                                <option th:each="userList : ${projectEntity.userEntitySet}" th:if="${userList.profileEntity.idProfile == 3} "
                                                        th:text=" ${userList.fullName}"
                                                        th:value="${userList.idUser}"
                                                >
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <span class="fa fa-trash fa-2x" id="deleteIconRecurso" style="cursor: pointer; float: left; margin: 5px;"></span>
                                </div>
                                <div class="form-group">
                                    <label class = "label-date">Recurso a Agregar</label>
                                    <select id="recursosAgregar"  class="form-control" style="text-align-last:center"  th:object="${userEntityListRecursos}" th:name="userEntityRecurso" required="false" >
                                        <option value="0">Seleccione el Recurso a agregar</option>
                                        <option th:each="userList : ${userEntityListRecursos}"
                                                th:text=" ${userList.fullName}"
                                                th:value="${userList.idUser}">
                                        </option>
                                    </select>
                                </div>
                                <a th:href="@{/projects}" class="btn btn-primary block registerNewUser-left m-b" style="margin-top: 20px;">Cancelar</a>
                                <button type="submit" class="btn btn-primary block registerNewUser-right m-b" style="margin-top: 20px;">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footerDashboard :: footer"/>
    </div>
</div>

<script>
    $('#deleteIcon').on('click', function () {
        debugger;
        var user = $('#lideres option:selected').val();
        var projectName = $('#projectName').val();
        $("#lideres option[value=0]").attr("selected", true);
        var url = '/deleteUserOfProject';
        var data = {
            projectName : projectName,
            user : user
        }
        $.ajax({
            url : url,
            contentType: "application/json",
            type : 'post',
            dataType: 'json',
            data : JSON.stringify(data),
            success : function (response) {
                if (response.status === "SUCCESS") {
                    var lideres = document.getElementsByName("lideres")[0];
                    var userEntity = document.getElementsByName("userEntity")[0];
                    var recursos = document.getElementsByName("recursos")[0];
                    var userEntityRecurso = document.getElementsByName("userEntityRecurso")[0];
                    //Lideres en el proyecto
                    $('#lideres option').hide();
                    for (value in response.data.userEntitySet) {
                        var option = document.createElement("option");
                        if (response.data.userEntitySet[value].profileEntity.idProfile == 2) {
                            option.text = response.data.userEntitySet[value].fullName;
                            option.value = response.data.userEntitySet[value].idUser
                            lideres.add(option);
                        }
                    }
                    //Lideres que no estan en el proyecto
                    $('#liderAgregar option').hide();
                    for (value in response.data.userEntityList) {
                        var option = document.createElement("option");
                        option.text = response.data.userEntityList[value].fullName;
                        option.value = response.data.userEntityList[value].idUser
                        userEntity.add(option);
                    }
                    //Recursos en el proyecto
                    $('#recursos option').hide();
                    for (value in response.data.userEntitySet) {
                        var option = document.createElement("option");
                        if (response.data.userEntitySet[value].profileEntity.idProfile == 3) {
                            option.text = response.data.userEntitySet[value].fullName;
                            option.value = response.data.userEntitySet[value].idUser
                            recursos.add(option);
                        }
                    }
                    //Recursos que no estan en el proyecto
                    $('#recursosAgregar option').hide();
                    for (value in response.data.userEntityListRecusos) {
                        var option = document.createElement("option");
                        option.text = response.data.userEntityListRecusos[value].fullName;
                        option.value = response.data.userEntityListRecusos[value].idUser
                        userEntityRecurso.add(option);
                    }
                }
                console.log('ss');
            },
            error : function () {
                console.log("ERROR");
            }
        });

    });
    $('#deleteIconRecurso').on('click', function () {
        debugger;
        var user = $('#recursos option:selected').val();
        var projectName = $('#projectName').val();
        $("#recursos option[value=0]").attr("selected", true);
        var url = '/deleteUserOfProject';
        var data = {
            projectName : projectName,
            user : user
        }
        $.ajax({
            url : url,
            contentType: "application/json",
            type : 'post',
            dataType: 'json',
            data : JSON.stringify(data),
            success : function (response) {
                if (response.status === "SUCCESS") {
                    var lideres = document.getElementsByName("lideres")[0];
                    var userEntity = document.getElementsByName("userEntity")[0];
                    var recursos = document.getElementsByName("recursos")[0];
                    var userEntityRecurso = document.getElementsByName("userEntityRecurso")[0];
                    //Lideres en el proyecto
                    $('#lideres option').hide();
                    for (value in response.data.userEntitySet) {
                        var option = document.createElement("option");
                        if (response.data.userEntitySet[value].profileEntity.idProfile == 2) {
                            option.text = response.data.userEntitySet[value].fullName;
                            option.value = response.data.userEntitySet[value].idUser
                            lideres.add(option);
                        }
                    }
                    //Lideres que no estan en el proyecto
                    $('#liderAgregar option').hide();
                    for (value in response.data.userEntityList) {
                        var option = document.createElement("option");
                        option.text = response.data.userEntityList[value].fullName;
                        option.value = response.data.userEntityList[value].idUser
                        userEntity.add(option);
                    }
                    //Recursos en el proyecto
                    $('#recursos option').hide();
                    for (value in response.data.userEntitySet) {
                        var option = document.createElement("option");
                        if (response.data.userEntitySet[value].profileEntity.idProfile == 3) {
                            option.text = response.data.userEntitySet[value].fullName;
                            option.value = response.data.userEntitySet[value].idUser
                            recursos.add(option);
                        }
                    }
                    //Recursos que no estan en el proyecto
                    $('#recursosAgregar option').hide();
                    for (value in response.data.userEntityListRecusos) {
                        var option = document.createElement("option");
                        option.text = response.data.userEntityListRecusos[value].fullName;
                        option.value = response.data.userEntityListRecusos[value].idUser
                        userEntityRecurso.add(option);
                    }
                }
                console.log('ss');
            },
            error : function () {
                console.log("ERROR");
            }
        });
    });
</script>

</body>
</html>