<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerLogin :: header-css"/>
</head>
<body class="gray-bg"
      th:style="'background: url(/img/tecleandoLogin.jpg) no-repeat center center fixed;background-size: cover;'">
<div class="forgotPasswordBox text-center loginscreen animated fadeInDown">

    <div class="col-md-12">
        <div class="ibox-content-forgotPassword">
        <h3> Recuperar Contraseña</h3>

            <form class="m-t" role="form" id="formForgotPassword" data-parsley-validate="true" th:action="@{/recoverPassword}" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Correo" name="email" required="true">
                </div>
                <a class="btn btn-primary forgotPasswordButton-left block m-b" href="login">Cancelar</a>
                <button type="submit"  class="btn btn-primary forgotPasswordButton-right block m-b">Enviar</button>
            </form>
        </div>
    </div>
    <!--Modal email not found-->
    <div class="modal fade" th:if="${modalNotFoundEmail!=null}" style="margin-top: 20px" id="modalNotFoundEmail">
        <div class="modal-dialog modal-center">
            <!-- Modal content-->
            <div class="modal-content radiusModal">
                <div class="modal-header text-center">
                    <img style="float: left; width: 45px" th:src="@{/img/warning-5-48.png}"/>
                    <h3 class="modal-title headerCenterWithImageModal"
                        th:utext="#{mensaje.header.estimado.usuario}"/>
                </div>
                <div class="modal-body x_content">
                    <div style="display: inline">
                        <div class="col-sm-1"></div>
                        <p style="text-align: center" th:utext="#{mensaje.correo.not.found.email}"/>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar
                    </button>
                </div>
                </p>
                </p>
            </div>
        </div>
    </div>
    <!--Modal token  expired-->
    <div class="modal fade" th:if="${modalTokenExpired!=null}" style="margin-top: 20px" id="modalTokenExpired">
        <div class="modal-dialog modal-center">
            <!-- Modal content-->
            <div class="modal-content radiusModal" style="margin-top: 80px">
                <div class="modal-header text-center">
                    <img style="float: left; width: 45px" th:src="@{/img/warning-5-48.png}"/>
                    <h3 class="modal-title headerCenterWithImageModal"
                        th:utext="#{mensaje.header.estimado.usuario}"/>
                </div>
                <div class="modal-body x_content">
                    <div style="display: inline">
                        <div class="col-sm-1"></div>
                        <p style="text-align: justify" th:utext="#{mensaje.token.expired}"/>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary " style="width: 20%" data-dismiss="modal">Cerrar
                    </button>
                </div>
                </p>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    if($("#modalTokenExpired").val()!=undefined){
        $.map(modalTokenExpired, function (val) {
            if (val != null) {
                $("#modalTokenExpired").modal("show");
            }
        })}

        if($("#modalNotFoundEmail").val()!=undefined){
            $.map(modalNotFoundEmail, function (val) {
                if (val != null) {
                    $("#modalNotFoundEmail").modal("show");
                }
            })}
    });
</script>
</body>
<div th:replace="fragments/footerLogin :: footer-js"/>
</html>
