<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerLogin :: header-css"/>
</head>
<body class="gray-bg"
      th:style="'background: url(/img/fondoAzulClaro.jpg) no-repeat center center fixed;background-size: cover;'">
<div class="middle-box  forgotPassword-width text-center loginscreen animated fadeInDown">

    <h3> Recuperar Contraseña</h3>

    <form class="m-t" role="form" th:action="@{/..}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Correo" required="">
        </div>
        <a class="btn btn-primary forgotPasswordButton-left block m-b" href="login">Cancelar</a>
        <button type="submit" class="btn btn-primary forgotPasswordButton-right block m-b">Enviar</button>
    </form>
</div>
</div>

</body>
<div th:replace="fragments/footerLogin :: footer-js"/>
</html>
