<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerLogin :: header-css"/>


</head>
<body class="gray-bg"
      th:style="'background: url(/img/tecleandoLogin.jpg) no-repeat center center fixed;background-size: cover;'">
<div class="middle-box text-center loginscreen animated fadeInDown" style="width: 400px">
    <div>
        <div>
            <img class="logoSize" th:src="@{/img/tcsLogo2.png}">
        </div>
    </div>
    <div class="form-login">
        <h3 class="tittle-form"> Sistema Logístico</h3>
        <form class="m-t" data-parsley-validate="true" role="form" th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario" data-parsley-required="true" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" required="true" name="password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>

            <a th:href="@{/forgotPassword}">
                <small>Olvido su contraseña?</small>
            </a>
            <p/>
            <br>
            <a class="btn btn-primary block full-width m-b" th:href="@{/registerUser}">Regístrate</a>
        </form>
    </div>
</div>
<div class="modal fade" th:if="${modalRegisterSucces!=null}" style="margin-top: 50px" id="modalRegisterSucces">
    <div class="modal-dialog modal-center">
        <!-- Modal content-->
        <div class="modal-content radiusModal">
            <div class="modal-header text-center">
                <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                <h3 class="modal-title headerCenterWithImageModal"
                    th:utext="#{mensaje.header.estimado.usuario}"/>
            </div>
            <div class="modal-body x_content">
                <div style="display: inline">
                    <div class="col-sm-1"></div>
                    <p  style="text-align: center" th:utext="#{mensaje.registro.exitoso}"/>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar</button>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>
<!--Modal restar password success-->
<div class="modal fade" th:if="${modalRestartPasswordSuccess!=null}" style="margin-top: 20px" id="modalRestartPasswordSuccess">
    <div class="modal-dialog modal-center">
        <!-- Modal content-->
        <div class="modal-content radiusModal" style="margin-top: 80px">
            <div class="modal-header text-center">
                <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                <h3 class="modal-title headerCenterWithImageModal"
                    th:utext="#{mensaje.header.estimado.usuario}"/>
            </div>
            <div class="modal-body x_content">
                <div style="display: inline">
                    <div class="col-sm-1"></div>
                    <p style="text-align: center" th:utext="#{mensaje.restart.password.success}"/>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary " style="width: 20%" data-dismiss="modal">Cerrar
                </button>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>
<!--Modal send email success-->
<div class="modal fade" th:if="${modalSendEmailSuccess!=null}" style="margin-top: 20px" id="modalSendEmailSuccess">
    <div class="modal-dialog modal-center">
        <!-- Modal content-->
        <div class="modal-content radiusModal" style="margin-top: 80px">
            <div class="modal-header text-center">
                <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                <h3 class="modal-title headerCenterWithImageModal"
                    th:utext="#{mensaje.header.estimado.usuario}"/>
            </div>
            <div class="modal-body x_content">
                <div style="display: inline">
                    <div class="col-sm-1"></div>
                    <p style="text-align: justify" th:utext="#{mensaje.send.email.success}"/>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary " style="width: 20%" data-dismiss="modal">Cerrar
                </button>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>
<!-- modal username or pasword incorrect-->
<div class="modal fade" style="margin-top: 50px" id="modalLoginUnsuccess">
    <div class="modal-dialog modal-center">
        <!-- Modal content-->
        <div class="modal-content radiusModal">
            <div class="modal-header text-center">
                <img style="float: left; width: 45px" th:src="@{/img/warning-5-48.png}"/>
                <h3 class="modal-title headerCenterWithImageModal"
                    th:utext="#{mensaje.header.estimado.usuario}"/>
            </div>
            <div class="modal-body x_content">
                <div style="display: inline">
                    <div class="col-sm-1"></div>
                    <p  style="text-align: center" th:utext="#{mensaje.modal.login.unsuccess}"/>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar</button>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>
</body>
<script>

    $(document).ready(function () {
        debugger;
        if($("#modalRegisterSucces").val()!=undefined){
            $.map(modalRegisterSucces, function (val) {
                if (val != null) {
                    $("#modalRegisterSucces").modal("show");
                }
            })};

        if($("#modalRestartPasswordSuccess").val() !=undefined){
            $.map(modalRestartPasswordSuccess, function (val) {
                if (val != null) {
                    $("#modalRestartPasswordSuccess").modal("show");
                }
            })}
        if($("#modalSendEmailSuccess").val() !=undefined){
            $.map(modalSendEmailSuccess, function (val) {
                if (val != null) {
                    $("#modalSendEmailSuccess").modal("show");
                }
            })}
        if(window.location.href === "http://localhost:8070/login?error=true"){
            $.map(modalLoginUnsuccess, function (val) {
                if (val != null) {
                    $("#modalLoginUnsuccess").modal("show");
                }
            })}
    });
</script>
<div th:replace="fragments/footerLogin :: footer-js"/>
</html>
