<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerLogin :: header-css"/>
</head>
<body class="gray-bg"
      th:style="'background: url(/img/fondoAzulClaro.jpg) no-repeat center center fixed;background-size: cover;'">
<div class="middle-box text-center loginscreen animated fadeInDown"
>
    <div>
        <div>
            <img class="logoSize" th:src="@{/img/tcsLogo.png}" style="
    width: 300px;
">
        </div>
        <!--Colocar acento a logistico-->
        <h3> Sistema Logístico</h3>

        <form class="m-t" role="form" th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario" required="true" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" required="true" name="password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>

            <a th:href="@{/forgotPassword}">
                <small>Olvido su contraseña?</small>
            </a>
            <p/>
            <br>
            <a class="btn btn-primary block full-width m-b" href="register.html">Creación de cuenta</a>
        </form>
    </div>
</div>
</body>
<div th:replace="fragments/footerLogin :: footer-js"/>
</html>
