<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerDashboard :: header-css"/>

</head>

<body>
<div id="wrapper">

    <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/headerDashboard :: header-body"/>

        <div class="wrapper wrapper-content">
            <div class="row" th:object="${projectEntityList}">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Proyectos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <table id="tableProjects" class="table table-hover margin bottom">
                                    <thead>
                                    <tr>
                                        <th style="display:none;">Id</th>
                                        <th>Nombre</th>
                                        <th class="text-center">Total de Puntos</th>
                                        <th class="text-center">Puntos Alcanzados</th>
                                        <th class="text-center">Fecha de Iniciaciòn</th>
                                        <th class="text-center">Fecha de Culminaciòn</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr style="cursor:pointer" th:each="project : ${projectEntityList}">
                                        <td style="display: none" th:text="${project.idProject}"></td>
                                        <td th:text="${project.projectName}"></td>
                                        <td class="text-center" th:text="${project.totalActivities}"></td>
                                        <td class="text-center"><span class="label label-primary"
                                                                      th:text="${project.finishedActivities}"></span>
                                        </td>
                                        <td class="text-center"
                                            th:text="${#dates.format(project.startDate.getTime(), 'dd-MM-yyyy')}"></td>
                                        <td class="text-center"
                                            th:text="${#dates.format(project.endingDate.getTime(), 'dd-MM-yyyy')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Modal assign role-->
        <div class="modal fade" th:if="${modalSaveAssignRole!=null}" style="margin-top: 50px" id="modalSaveAssignRole">
            <div class="modal-dialog modal-center">
                <!-- Modal content-->
                <div class="modal-content radiusModal">
                    <div class="modal-header text-center">
                        <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                        <h3 class="modal-title headerCenterWithImageModal"
                            th:utext="#{mensaje.header.estimado.usuario}"/>
                    </div>
                    <div class="modal-body x_content">
                        <div style="display: inline">
                            <div class="col-sm-1"></div>
                            <p style="text-align: center" th:utext="#{mensaje.assing.role}"/>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
<!--Modal edit user-->
        <div class="modal fade" th:if="${modalSuccessEditUser!=null}" style="margin-top: 50px" id="modalSuccessEditUser">
            <div class="modal-dialog modal-center">
                <!-- Modal content-->
                <div class="modal-content radiusModal">
                    <div class="modal-header text-center">
                        <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                        <h3 class="modal-title headerCenterWithImageModal"
                            th:utext="#{mensaje.header.estimado.usuario}"/>
                    </div>
                    <div class="modal-body x_content">
                        <div style="display: inline">
                            <div class="col-sm-1"></div>
                            <p style="text-align: center" th:utext="#{mensaje.edit.success}"/>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <!--Modal create project-->
        <div class="modal fade" th:if="${modalCreateProjectSuccess!=null}" style="margin-top: 50px" id="modalCreateProjectSuccess">
            <div class="modal-dialog modal-center">
                <!-- Modal content-->
                <div class="modal-content radiusModal">
                    <div class="modal-header text-center">
                        <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                        <h3 class="modal-title headerCenterWithImageModal"
                            th:utext="#{mensaje.header.estimado.usuario}"/>
                    </div>
                    <div class="modal-body x_content">
                        <div style="display: inline">
                            <div class="col-sm-1"></div>
                            <p style="text-align: center" th:utext="#{mensaje.create.project.success}"/>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <!--Modal edit project-->
        <div class="modal fade" th:if="${modalEditProjectSuccess!=null}" style="margin-top: 50px" id="modalEditProjectSuccess">
            <div class="modal-dialog modal-center">
                <!-- Modal content-->
                <div class="modal-content radiusModal">
                    <div class="modal-header text-center">
                        <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                        <h3 class="modal-title headerCenterWithImageModal"
                            th:utext="#{mensaje.header.estimado.usuario}"/>
                    </div>
                    <div class="modal-body x_content">
                        <div style="display: inline">
                            <div class="col-sm-1"></div>
                            <p style="text-align: center" th:utext="#{mensaje.edit.project.success}"/>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <!--Modal create activity-->
        <div class="modal fade" th:if="${modalCreateActivitySuccess!=null}" style="margin-top: 50px" id="modalCreateActivitySuccess">
            <div class="modal-dialog modal-center">
                <!-- Modal content-->
                <div class="modal-content radiusModal">
                    <div class="modal-header text-center">
                        <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                        <h3 class="modal-title headerCenterWithImageModal"
                            th:utext="#{mensaje.header.estimado.usuario}"/>
                    </div>
                    <div class="modal-body x_content">
                        <div style="display: inline">
                            <div class="col-sm-1"></div>
                            <p style="text-align: center" th:utext="#{mensaje.create.activity.success}"/>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <!--Modal edit activity-->
        <div class="modal fade" th:if="${modalEditActivitySuccess!=null}" style="margin-top: 50px" id="modalEditActivitySuccess">
            <div class="modal-dialog modal-center">
                <!-- Modal content-->
                <div class="modal-content radiusModal">
                    <div class="modal-header text-center">
                        <img style="float: left; width: 45px" th:src="@{/img/icons8-ok.png}"/>
                        <h3 class="modal-title headerCenterWithImageModal"
                            th:utext="#{mensaje.header.estimado.usuario}"/>
                    </div>
                    <div class="modal-body x_content">
                        <div style="display: inline">
                            <div class="col-sm-1"></div>
                            <p style="text-align: center" th:utext="#{mensaje.edit.activity.success}"/>
                            <div class="col-sm-1"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar
                        </button>
                    </div>
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#tableProjects').on('click', 'tr', function () {
            debugger;
            var table = $('#tableProjects').DataTable();
            $(this).toggleClass('selected');
            var pos = table.row(this).index();
            var row = table.row(pos).data();
            var oData = table.rows('.selected').data();
            var oDataInt = oData.length;
            var data = table.row(this).data();
            window.location.href = 'editProject/' + row[0];
        });
        //Muestra modal de rol asignado con exito
        if($("#modalSaveAssignRole").val()!=undefined){
        $.map(modalSaveAssignRole, function (val) {
            if (val != null) {
                $("#modalSaveAssignRole").modal("show");
            }
        })};
        //Muestra modal de editar usuario con exito
        if($("#modalSuccessEditUser").val() !=undefined){
        $.map(modalSuccessEditUser, function (val) {
            if (val != null) {
                $("#modalSuccessEditUser").modal("show");
            }
        })};
        //Muestra modal de proyecto creado
        if($("#modalCreateProjectSuccess").val() !=undefined){
            $.map(modalCreateProjectSuccess, function (val) {
                if (val != null) {
                    $("#modalCreateProjectSuccess").modal("show");
                }
            })};
        //Muestra modal de proyecto editado con exito
        if($("#modalEditProjectSuccess").val() !=undefined){
            $.map(modalEditProjectSuccess, function (val) {
                if (val != null) {
                    $("#modalEditProjectSuccess").modal("show");
                }
            })};
        //Muestra modal de actividad creada con exito
        if($("#modalCreateActivitySuccess").val() !=undefined){
            $.map(modalCreateActivitySuccess, function (val) {
                if (val != null) {
                    $("#modalCreateActivitySuccess").modal("show");
                }
            })};
        //Muestra modal de actividad editada con exito
        if($("#modalEditActivitySuccess").val() !=undefined){
            $.map(modalEditActivitySuccess, function (val) {
                if (val != null) {
                    $("#modalEditActivitySuccess").modal("show");
                }
            })};

        $('.chart').easyPieChart({
            barColor: '#f8ac59',
//                scaleColor: false,
            scaleLength: 5,
            lineWidth: 4,
            size: 80
        });

        $('.chart2').easyPieChart({
            barColor: '#1c84c6',
//                scaleColor: false,
            scaleLength: 5,
            lineWidth: 4,
            size: 80
        });

        var data2 = [
            [gd(2012, 1, 1), 7], [gd(2012, 1, 2), 6], [gd(2012, 1, 3), 4], [gd(2012, 1, 4), 8],
            [gd(2012, 1, 5), 9], [gd(2012, 1, 6), 7], [gd(2012, 1, 7), 5], [gd(2012, 1, 8), 4],
            [gd(2012, 1, 9), 7], [gd(2012, 1, 10), 8], [gd(2012, 1, 11), 9], [gd(2012, 1, 12), 6],
            [gd(2012, 1, 13), 4], [gd(2012, 1, 14), 5], [gd(2012, 1, 15), 11], [gd(2012, 1, 16), 8],
            [gd(2012, 1, 17), 8], [gd(2012, 1, 18), 11], [gd(2012, 1, 19), 11], [gd(2012, 1, 20), 6],
            [gd(2012, 1, 21), 6], [gd(2012, 1, 22), 8], [gd(2012, 1, 23), 11], [gd(2012, 1, 24), 13],
            [gd(2012, 1, 25), 7], [gd(2012, 1, 26), 9], [gd(2012, 1, 27), 9], [gd(2012, 1, 28), 8],
            [gd(2012, 1, 29), 5], [gd(2012, 1, 30), 8], [gd(2012, 1, 31), 25]
        ];

        var data3 = [
            [gd(2012, 1, 1), 800], [gd(2012, 1, 2), 500], [gd(2012, 1, 3), 600], [gd(2012, 1, 4), 700],
            [gd(2012, 1, 5), 500], [gd(2012, 1, 6), 456], [gd(2012, 1, 7), 800], [gd(2012, 1, 8), 589],
            [gd(2012, 1, 9), 467], [gd(2012, 1, 10), 876], [gd(2012, 1, 11), 689], [gd(2012, 1, 12), 700],
            [gd(2012, 1, 13), 500], [gd(2012, 1, 14), 600], [gd(2012, 1, 15), 700], [gd(2012, 1, 16), 786],
            [gd(2012, 1, 17), 345], [gd(2012, 1, 18), 888], [gd(2012, 1, 19), 888], [gd(2012, 1, 20), 888],
            [gd(2012, 1, 21), 987], [gd(2012, 1, 22), 444], [gd(2012, 1, 23), 999], [gd(2012, 1, 24), 567],
            [gd(2012, 1, 25), 786], [gd(2012, 1, 26), 666], [gd(2012, 1, 27), 888], [gd(2012, 1, 28), 900],
            [gd(2012, 1, 29), 178], [gd(2012, 1, 30), 555], [gd(2012, 1, 31), 993]
        ];


        var dataset = [
            {
                label: "Number of orders",
                data: data3,
                color: "#1ab394",
                bars: {
                    show: true,
                    align: "center",
                    barWidth: 24 * 60 * 60 * 600,
                    lineWidth: 0
                }

            }, {
                label: "Payments",
                data: data2,
                yaxis: 2,
                color: "#1C84C6",
                lines: {
                    lineWidth: 1,
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.2
                        }, {
                            opacity: 0.4
                        }]
                    }
                },
                splines: {
                    show: false,
                    tension: 0.6,
                    lineWidth: 1,
                    fill: 0.1
                },
            }
        ];


        var options = {
            xaxis: {
                mode: "time",
                tickSize: [3, "day"],
                tickLength: 0,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 10,
                color: "#d5d5d5"
            },
            yaxes: [{
                position: "left",
                max: 1070,
                color: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 3
            }, {
                position: "right",
                clolor: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: ' Arial',
                axisLabelPadding: 67
            }
            ],
            legend: {
                noColumns: 1,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },
            grid: {
                hoverable: false,
                borderWidth: 0
            }
        };

        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }

        var previousPoint = null, previousLabel = null;

        $.plot($("#flot-dashboard-chart"), dataset, options);

        var mapData = {
            "US": 298,
            "SA": 200,
            "DE": 220,
            "FR": 540,
            "CN": 120,
            "AU": 760,
            "BR": 550,
            "IN": 200,
            "GB": 120,
        };

        $('#world-map').vectorMap({
            map: 'world_mill_en',
            backgroundColor: "transparent",
            regionStyle: {
                initial: {
                    fill: '#e4e4e4',
                    "fill-opacity": 0.9,
                    stroke: 'none',
                    "stroke-width": 0,
                    "stroke-opacity": 0
                }
            },

            series: {
                regions: [{
                    values: mapData,
                    scale: ["#1ab394", "#22d6b1"],
                    normalizeFunction: 'polynomial'
                }]
            },
        });
    });
</script>
<div th:replace="fragments/footerDashboard :: footer"/>

</body>
</html>
