<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerLogin :: header-css"/>
</head>
<body class="gray-bg"
      th:style="'background: url(/img/tecleandoLogin.jpg) no-repeat center center fixed;background-size: cover;'">
<div class="middle-box text-center loginscreen animated fadeInDown" style="width: 400px">

    <div class="form-register">
        <h3 class="tittle-form">Registro</h3>
        <form class="m-t" role="form" data-parsley-validate="true" th:action="@{/saveUser}" th:object="${userEntity}"
              method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre de Usuario" required="true" name="username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre Completo" required="true" name="fullName">
            </div>
            <div class="form-group">
                <select class="form-control" th:object="${genderEntityList}" th:name="genderEntity" required="true">
                    <option value="0">Seleccione</option>
                    <option th:each="genderList : ${genderEntityList}"
                            th:text=" ${genderList.description}"
                            th:value="${genderList.idGender}"
                    ></option>
                </select>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Contraseña" required="true"
                       name="password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" data-parsley-equalto="#password"
                       placeholder="Repita la Contraseña " required="true" name="">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Correo" required="true" name="email">
            </div>
            <!--Falta agregar jquery o estilo de calendario a usar-->
            <div class="form-group" style="text-align: initial;">
                <!--<label class = "label-date">Fecha de Nacimiento</label>-->
                <!--<input type="date" class="form-control" placeholder="Fecha de Nacimiento" required="true" name="birthday">-->
                <input type="text"
                       data-parsley-required="true"
                       style="cursor: pointer;text-align: center; width: 45%; background-color: white; font-size: 0.9rem; font-family: inherit"
                       class="form-control col-xs-1 fa fa-calendar-o form-control-feedback left"
                       minlength="10"
                       maxlength="10"
                       th:readonly="true"
                       th:name="birthday"
                       id="birthdayDate"
                       placeholder="Fecha Nacimiento"
                       onclick="dateInput('birthdayDate')"

                />
                <span class="fa fa-calendar-o form-control-feedback left"
                      style="font-size: 18px;left: 0px;height: 27px;top: 0;margin-top: 4px;padding-top: 4px;"> </span>
            </div>

            <button type="submit" class="btn btn-primary block registerNewUser-right m-b">Enviar</button>
            <a class="btn btn-primary block registerNewUser-left m-b" th:href="@{/login}">Cancelar</a>
        </form>
    </div>
</div>
<!--modal username already register -->
<div class="modal fade" th:if="${modalExistUser!=null}" style="margin-top: 50px" id="modalExistUser">
    <div class="modal-dialog modal-center">
        <!-- Modal content-->
        <div class="modal-content radiusModal">
            <div class="modal-header text-center">
                <img style="float: left; width: 45px" th:src="@{/img/warning-5-48.png}"/>
                <h3 class="modal-title headerCenterWithImageModal"
                    th:utext="#{mensaje.header.estimado.usuario}"/>
            </div>
            <div class="modal-body x_content">
                <div style="display: inline">
                    <div class="col-sm-1"></div>
                    <p  style="text-align: center" th:utext="#{mensaje.modal.username.already.exist}"/>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar</button>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>

<!-- modal email used-->
<div class="modal fade" th:if="${modalEmailExits!=null}" style="margin-top: 50px" id="modalEmailExits">
    <div class="modal-dialog modal-center">
        <!-- Modal content-->
        <div class="modal-content radiusModal">
            <div class="modal-header text-center">
                <img style="float: left; width: 45px" th:src="@{/img/warning-5-48.png}"/>
                <h3 class="modal-title headerCenterWithImageModal"
                    th:utext="#{mensaje.header.estimado.usuario}"/>
            </div>
            <div class="modal-body x_content">
                <div style="display: inline">
                    <div class="col-sm-1"></div>
                    <p  style="text-align: center" th:utext="#{mensaje.modal.email.already.exist}"/>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar</button>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        if ($("#modalExistUser").val() != undefined){
            $.map(modalExistUser, function (val) {
                if (val != null) {
                    $("#modalExistUser").modal("show");
                }
            })};

        if ($("#modalEmailExits").val() != undefined){
            $.map(modalEmailExits, function (val) {
                if (val != null) {
                    $("#modalEmailExits").modal("show");
                }
            })};
    });
</script>
<div th:replace="fragments/footerLogin :: footer-js"/>
</html>
