<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerDashboard :: header-css"/>

</head>

<body>
<div id="wrapper">

    <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/headerDashboard :: header-body"/>

        <div class="wrapper wrapper-content">
            <div class="row" th:object="${projectEntityList}">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Estatus de los Proyectos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <ul id="listProjects" style="text-align: center; width: 80pc;"  th:object="${projectEntityList}" th:name="projectEntity">
                                    <li class="ibox-title" th:each="projectList : ${projectEntityList}">
                                        <div class="divProject" style="cursor: pointer">
                                            <h3 th:text="${projectList.projectName}"></h3>
                                            <div style="display: flex; justify-content: center">
                                                <div id="divStatusProject" style="margin-bottom: 0px; padding: 20px; display: none;">
                                                    <div style="width: 15pc; float: left;">
                                                        <label>Actividades Totales: </label>
                                                        <span id="totalActivities" th:text="${projectList.totalActivities}" style="color:#CC9900 "></span>
                                                        <i class="fa fa-square" style="color:#CC9900 "></i>
                                                        <br>
                                                        <label>Actividades Finalizadas: </label>
                                                        <span id="finishedActivities" th:text="${projectList.finishedActivities}" style="color: #228B22"></span>
                                                        <i class="fa fa-square" style="color:#228B22"></i>
                                                    </div>
                                                    <div style="float: left;">
                                                        <div style="float: left">
                                                            <span class="sparklineStatus"></span>
                                                        </div>
                                                        <div style="float: left">
                                                            <label style=" margin-left: 30px;">Actividades Restantes: </label>
                                                            <span class="activitiesToDo" style="color: #3366CC" th:text="${projectList.finishedActivities}!=null?${projectList.totalActivities}-${projectList.finishedActivities}:${projectList.totalActivities}"></span>
                                                            <i class="fa fa-square" style="color:#3366CC"></i>
                                                        </div>
                                                        <br>
                                                        <div style="float: left">
                                                            <label style=" margin-left: 30px;">Cantidad de Recursos: </label>
                                                            <span id="cantidadRecursos" th:text="${projectList.userEntitySet.size()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footerDashboard :: footer"/>
    </div>
</div>
<script>
    $(".divProject").on("click", function(e) {
        $('ul > li > div > div').children('#divStatusProject').hide()
        $(this).children('div').children('div:hidden').show();
        var finished = $(this).children('div').children('div').children('div').children('#finishedActivities').text();
        var todo = finished !== null?$(this).children('div').children('div').children('div').children('#totalActivities').text() - finished: $(this).children('div').children('div').children('div').children('#totalActivities').text();
        var totalActivities= $(this).children('div').children('div').children('div').children('#totalActivities').text();

        $(".sparklineStatus").sparkline([finished,todo,totalActivities,0], {
            type: "bar",
            barWidth: 20,
            barSpacing: 3,
            height: 100,
             colorMap: ["#228B22", "#3366CC","#CC9900" ,"white"]
        });
    });
</script>
</body>
</html>