<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/headerDashboard :: header-css"/>

</head>

<body>
<div id="wrapper">

    <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/headerDashboard :: header-body"/>

        <div class="wrapper wrapper-content">

            <div class="row" th:object="${userEntityList}">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Editar Usuarios</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <table id="tableUserWithRole" class="table table-hover margin bottom">
                                    <thead>
                                    <tr>
                                        <th>Nombre de Usuario</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Sexo</th>
                                        <th class="text-center">Correo</th>
                                        <th class="text-center">Fecha de Nacimiento</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="users : ${userEntityList}">
                                        <!--<td class="text-center">1</td>-->
                                        <td th:text="${users.username}"></td>
                                        <td class="text-center" th:text="${users.fullName}"></td>
                                        <td class="text-center"
                                            th:text="${users.genderEntity.description}">
                                        </td>
                                        <td class="text-center"
                                            th:text="${users.email}"></td>
                                        <td class="text-center"
                                            th:text="${#dates.format(users.birthday, 'dd-MM-yyyy')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footerDashboard :: footer"/>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tableUserWithRole').on('click', 'tr', function () {
            var table = $('#tableUserWithRole').DataTable();
            $(this).toggleClass('selected');
            var pos = table.row(this).index();
            var row = table.row(pos).data();
            var oData = table.rows('.selected').data();
            var oDataInt = oData.length;
            var data = table.row(this).data();
            window.location.href = 'editUser/' + row[0];
        });
    });
</script>
</body>
</html>
